@import "tailwindcss";

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}
@keyframes floatIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-float {
  animation: floatIn 0.8s ease-out both;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

/* Hide scrollbar by default */
.scrollbar-hide {
  scrollbar-width: none;     
}     
.scrollbar-hide::-webkit-scrollbar {
  display: none;                  /* Chrome, Safari */
}

/* Show scrollbar on hover */
.scrollbar-show {
  scrollbar-width: thin;
}
.scrollbar-show::-webkit-scrollbar {
  height: 6px;
}
.scrollbar-show::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 999px;
}
/* .scrollbar-show:hover {
  scrollbar-width: thin;
} */
